# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
*env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# JetBrains production
.idea

# VS Code 
.vscode

# practice file
test.*
Untitled.ipynb
*.bak
*.tmp

# racket file
Learning/SICP/Modules

# swap-face
Projects/swap-face/models
Projects/voice-changer

# voice-changer
Projects/voice-changer/tmp
Projects/voice-changer/dummy
Projects/voice-changer/node_modules

Projects/voice-changer/server/upload_dir/
Projects/voice-changer/server/MMVC_Client_v13/
Projects/voice-changer/server/MMVC_Client_v15/
Projects/voice-changer/server/so-vits-svc-40/
Projects/voice-changer/server/so-vits-svc-40v2/
Projects/voice-changer/server/DDSP-SVC/
Projects/voice-changer/server/RVC/
Projects/voice-changer/server/keys
Projects/voice-changer/server/info
Projects/voice-changer/server/in.wav
Projects/voice-changer/server/out.wav
Projects/voice-changer/server/G_*.pth
Projects/voice-changer/server/train_config.json
Projects/voice-changer/server/stored_setting.json

# v.1.3.xテスト用モデルフォルダ
Projects/voice-changer/server/v13
Projects/voice-changer/server/model_hubert
Projects/voice-changer/server/model_so-vits-svc-40v2_tsukuyomi/
Projects/voice-changer/server/model_so-vits-svc-40v2_amitaro/
Projects/voice-changer/server/model_so-vits-svc-40/
Projects/voice-changer/server/model_so-vits-svc-40_mahiro/
Projects/voice-changer/server/model_so-vits-svc-40_amitaro/
Projects/voice-changer/server/model_so-vits-svc-40_tsukuyomi/
Projects/voice-changer/server/model_so-vits-svc-40_kikotokurage
Projects/voice-changer/server/model_sovits
Projects/voice-changer/server/test 
Projects/voice-changer/server/memo.md

Projects/voice-changer/model_DDSP-SVC/

Projects/voice-changer/client/lib/dist
Projects/voice-changer/client/lib/worklet/dist
Projects/voice-changer/client/demo/public/models
Projects/voice-changer/client/demo/public/models_
Projects/voice-changer/client/demo/dist/models
Projects/voice-changer/client/demo/dist_web
Projects/voice-changer/client/demo/src/001_provider/backup
# client/demo/dist/ # demo用に残す

Projects/voice-changer/docker/cudnn/
Projects/voice-changer/server/pretrain/
Projects/voice-changer/server/weights/
Projects/voice-changer/server/model_dir/
Projects/voice-changer/server/model_dir2/
Projects/voice-changer/server/weights_/
Projects/voice-changer/server/weights__/
Projects/voice-changer/server/models/
Projects/voice-changer/server/samples.json
Projects/voice-changer/server/samples_0003_t.json
Projects/voice-changer/server/samples_0003_o.json
Projects/voice-changer/server/samples_0003_t2.json
Projects/voice-changer/server/samples_0003_o2.json
Projects/voice-changer/server/samples_0003_d2.json
Projects/voice-changer/server/samples_0004_t.json
Projects/voice-changer/server/samples_0004_o.json
Projects/voice-changer/server/samples_0004_d.json
Projects/voice-changer/server/test_official_v1_v2.json
Projects/voice-changer/server/test_ddpn_v1_v2.json
Projects/voice-changer/server/vcclient.log
Projects/voice-changer/start_trainer.sh

Projects/voice-changer/beatrice_internal_api.cp310-win_amd64.pyd
Projects/voice-changer/108_average_110b_10.bin

Projects/voice-changer/server/model_dir_static/Beatrice-JVS
